.barGraph {
  border-color: black;
  border-width: 5px;
  border-style: solid;
}
#ball1{
  border-color: #a0a0a0;
  border-width: 5px;
  border-style: solid;
}
.ball1circle{
  stroke-width: 2px;
  stroke: #eeddff;
}
